@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html {
    scroll-snap-type: y mandatory;
}
section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start;
}
body{
    font-size: 100%;
    min-height: 100vh;
    background: #2f3640;
    background-repeat: no-repeat;
    background-attachment: fixed;
    cursor: default;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #40739e;
    font-family: 'Poppins', sans-serif;
}

/*h1{
    color: #8c7ae6;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 60px;
}*/
.loader h1{
    position: absolute;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 60px;
    color: transparent;
}
.loader h1:before{
    content: attr(data-text);
    position: absolute;
    width: 100%;
    height: 100%;
    color: #9c88ff;
    overflow: hidden;
    border-right: 1px solid #9c88ff;
    animation: type 5s steps(15) infinite;
    white-space: nowrap;
}
@keyframes type {
    0%{
        width: 0;
    }
    50%{
        width: 100%;
    }
    100%{
        width: 0;
    }
}
h2, h3{
    font-size: 20px;
}
h2{
    color: #e1b12c;
    margin-top: 90px;
}
.fig-imagem{
    max-width:100%;
    max-height: 100%;
    width: 450px;
}
.cabecalho {
    height: 100vh;
    width: 100vw;
    background: #353b48;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.cabecalho .img{
    min-height: 200px;
}
.cabecalho-texto{
display: flex;
flex-direction: column;
justify-content: center;
}
.fig-imagem {
    max-width: 100%;
    max-height: 100%;
}
.loading-box{
    width: 200px;
    height: 200px;
}
.loading-box .texto{
    width: 200px;
    height: 200px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading{
    animation: rotating 1.5s infinite;
    width: 200px;
    height: 200px;
    border: 20px solid #e5e5e5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-color: #e1b12c;
    border-radius: 50%;
    position: absolute;
}
@keyframes rotating {
    to {
        transform: rotate(1turn);
    }
}
.social-media{
    margin-top: 15px;
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
}
.social-media a{
    position: relative;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 30px;
    text-decoration: none;
    color: #e1b12c;
    border: 1px solid rgba(225, 177, 44,0.4);
    border-right: 1px solid rgba(225, 177, 44,0.2);
    border-bottom: 1px solid rgba(225, 177, 44,0.2);
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
    border-radius: 6px;
    overflow: hidden;
}
.social-media a:hover{
    transform: translateY(-5px);
}
.social-media a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    background: rgba(255,255,255,0.5);;
    transform: skewX(45deg) translateX(180px);
    transition: 0.5s;
}
.social-media a:hover::before{
    transform: skewX(45deg) translateX(-80px);
}
.principal{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.principal-sobre, .principal-projetos, .principal-habilidades, .principal-contato{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1100px;
    height: 100vh;
}
.habilidades{
    display: flex;
    flex: row;
    justify-content: center;
    align-items: center;
    width: 1100px;
}
.icons{
    display: grid;
    grid-template-columns: 200px 200px;
    grid-row: auto auto;
    grid-row-gap: 40px;
    text-align: center;
}
.principal-sobre h2, .principal-projetos h2, .principal-habilidades h2, .principal-contato h2{
    font-size: 40px;
    margin-bottom: 100px;
}
.projetos, .sobre{
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 140px;
}
.icons{
    font-size: 150px;
}
.legenda{
    font-size: 25px;
    height:100px;
    width:100px;
    position: relative;
    text-align: center;
}
.fa-html5{
    color: #ff4c14;
}
.fa-css3-alt{
    color: #0076be;
}
.fa-js{
    color: #e5a32a;
}
.fa-java{
    color: #0d8ac7;
}
