@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}
body {
  background: #585c68;
  font-size: 17px;
  line-height: 22px;
  color: #2f3640;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container{
background: #f5f6fa;
width: 1000px;
box-shadow: 7px 7px 7px 1px #2f3640;
display: flex;
flex-direction: row;
}
h1{
font-size: 35px;
color: #c23616;
}
h2{
    font-size: 25px;
    color: #718093;
}
h3{
    font-size: 25px;
    color: #8c7ae6;
    border-bottom: 2px solid;
    margin-bottom: 15px;
}
.loading-box{
    width: 200px;
    height: 200px;
}
.loading-box .texto{
    width: 200px;
    height: 200px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2f3640;
}
.loading{
    animation: rotating 1.5s infinite;
    width: 200px;
    height: 200px;
    border: 20px solid #e5e5e5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-color: #e1b12c;
    border-radius: 50%;
    position: absolute;
}
@keyframes rotating {
    to {
        transform: rotate(1turn);
    }
}
.esquerda{
    margin-top: 25px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-right: 1px solid #7f8fa6;
}
.direita{
    margin-top: 25px;
    padding: 0 20px;
    width: 700px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.social-media{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 17px;
}
.fa-brands, .fa-solid{
    color: #0097e6;
}
.rodape{
    padding: 10px;
    background-color: #f5f6fa;
    width: 1000px;
    text-align: center;
    color:#c23616;
    font-size: 15px;
    box-shadow: 7px 7px 7px 1px #2f3640;
}
.box{
    padding: 10px;
    line-height: 2rem;
}
dt{
    font-size: 20px;
    color: #0097e6;
}
dd{
    font-size: 18px;
    font-style: italic;
    text-indent: 2rem;
}
.esquerda .box{
    text-align: center;
}
h4{
    color: #44bd32;
}
.principal{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
